@import url('https://fonts.googleapis.com/css?family=Arima&display=swap');



body{
    background: linear-gradient(0deg, #0008ffdd 7%, #000000 98%);
    font-family:Arima, serif ;
}

.nav-link{
    color: rgb(138, 149, 156);
}
.navbar-nav .nav-link.active{
    color: aliceblue;
}
.navbar-brand img{
   width: 50px;
}
.navbar-toggler{
    background-color:rgb(207, 221, 231) ;
}
.card{
    margin-top: 2em;
    box-shadow: 8px 23px 82px 16px #413649;
    background: linear-gradient(270deg, #0008ff 7%, #000000 98%);
    color: aliceblue;
}
.sidebar{
    color: aliceblue;
    background: linear-gradient(270deg, #0008ff 7%, #000000 98%);
}  
.card a{
text-decoration: none;
color: aliceblue;
}
.text-slid{
    color: aliceblue;
    margin: auto auto;
}
.futer-text{
    color: aliceblue;
    margin: auto auto;
}
footer,.btn-primary{
    background: linear-gradient(270deg, #0008ff 7%, #000000 98%);
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: aliceblue;
}
.fone-an{
    animation: myAnim 2s ease 0s infinite reverse forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}




@media(max-width:750px){
    .carousel-indicators{
        display: none;
    }
}

   